# S3/R2 key ID
ACCESS_KEY_ID=
# S3/R2 access key
SECRET_ACCESS_KEY=
# Bucket name
BUCKET_NAME=
# For API key access
BUCKET_ENDPOINT_URL=
# Currently requires public bucket root
PUBLIC_BUCKET_ROOT=
# Can use a random string to prefix the RSS feed, for privacy protection
RSS_PREFIX=